/* Main */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.interactions {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    border: 1px solid #dfdfdf;
    background: #eee;
}
table.interactions thead * {
    border-bottom: 1px solid #ccc !important;
}
table.interactions caption {
    caption-side: top;
    color: inherit;
    font-weight: bold;
}
table.interactions tbody tr:nth-child(odd) {
    background-color: #f0ecdb;
}
table.interactions tbody tr:nth-child(even) {
    background-color: #fbfbf9;
}
table.interactions td div {
    height: 21px;
    overflow: hidden;
}

/* End of main */

/* Common */

a.active {
    color: #555;
    font-weight: bold;
}

img.user-avatar {
    width: 150px;
    margin: 0 0 10px 0;
    padding: 3px;
    border: 1px solid #ccc;
}

/* End of common*/

/* Login page */

.screen-centered {
    display: grid;
    height: 60vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.screen-centered form {
    width: 500px;
}

.screen-centered form fieldset {
    padding: 12px 65px;
}
.screen-centered form button {
    display: block;
    margin: 20px auto;
}

.screen-centered form input {
    padding: 2px 5px;
    display: block;
    margin: 20px auto;
}

.screen-centered form label {
    display: block;
    margin: 15px auto;
    width: auto;
}

/* End of login page */

/* Forms */

form.inline_form div {
    display: grid;
    grid-gap: 5px 15px;
    align-items: center;
    margin-bottom: 10px;
}

form.inline_form div input,
form.inline_form div select {
    margin-right: 10px;
}

form.tags_4 div {
    grid-template-columns: repeat(4, fit-content(100%));
}

form.tags_6 div {
    grid-template-columns: repeat(6, fit-content(100%));
}

form.display-block-labels label {
    display: block;
}

ul.errorlist {
    max-width: fit-content;
    margin: 18px 0;
    padding: 8px 20px;
    border: 1px solid #e4b4b4;
    background: #ffcccc;
    list-style-type: none;
    font-size: 14px;
    color: #862727;
}
/* End of forms */
