<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% block header_title %}<title>{% if title_ %}{{ title_ }} - {% endif %}CRM</title>{% endblock %}
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="/static/ckeditor/ckeditor/style.css" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-xl">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                {% if user.is_authenticated %}
                {% if user.is_staff %}
                <li class="nav-item"><a class="nav-link" href="{% url 'customer_create' %}">Добавить заказчика</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin/">Админ панель</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{{ user.account.get_absolute_url }}"><b>{{ user }}</b></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                 {% if request.path != '/user/login/' %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
                {% endif %}
                {% endif %}
            </ul>
                <form class="d-flex" action="/" method="get">
                    <input class="form-control me-2" type="search" placeholder="Поиск заказчиков" aria-label="Поиск" name="search">
                    <input type="checkbox" name="only_mine" id="only_mine" style="align-self: center;">
                    <label for="only_mine" style="padding-left: 4px; align-self: center; min-width: 90px; font-size: 14px;">Только мои</label>
                    <button class="btn btn-outline-success" type="submit">Найти</button>
                </form>
        </div>
    </nav>
</header>
<div class="container-xl">
    {% block messages %}{% for message in messages %}{{ message|safe }}{% endfor %}
    {% endblock messages %}
    {% block title %}{% if title_ %}<h1>{{ title_ }}</h1>{% endif %}{% endblock %}
    {% block content %}

    TEST CONTENT

    {% endblock %}
</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>