{% if is_paginated %}
<div class="pagination">
    Страницы:&nbsp;
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}{% if current_order %}&sort={{ current_order }}{% endif %}{% for keyword in keyword_list %}&keyword={{ keyword }}{% endfor %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.only_mine %}&only_mine={{ request.GET.only_mine }}{% endif %}">Предыдущая</a>
        {% endif %}
        {% for page_number in paginator_items_list %}
            {% if page_number == page_obj.number %}
                <b>
                    {{ page_number }}
                </b>
            {% elif page_number == '…' %}
                    {{ page_number }}
            {% else %}
                <a href="{{ request.path }}?page={{ page_number }}{% if current_order %}&sort={{ current_order }}{% endif %}{% for keyword in keyword_list %}&keyword={{ keyword }}{% endfor %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.only_mine %}&only_mine={{ request.GET.only_mine }}{% endif %}">{{ page_number }}</a>
            {% endif %}
        {% endfor %}
            {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}{% if current_order %}&sort={{ current_order }}{% endif %}{% for keyword in keyword_list %}&keyword={{ keyword }}{% endfor %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.only_mine %}&only_mine={{ request.GET.only_mine }}{% endif %}">Следующая</a>
            {% endif %}
      </span>
</div>
{% endif %}