{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary">Сохранить</button>
        <button type="button" onclick="window.history.back()" class="btn btn-secondary">Отмена</button>
    </form>
{% endblock content %}