{% extends 'base.html' %}

{% block content %}
<main>
    <p><b>Заказчик:</b> <a href="{{ contactperson.customer.get_absolute_url }}">{{ contactperson.customer }}</a><br>
    <b>Должность:</b> {{ contactperson.post }}<br>
    <b>Контакты:</b>
        {% if contactperson.contact_set %}
        <ul>
            {% for contact in contactperson.contact_set.all %}
            <li>{{ contact.get_type_display }}: {{ contact.value }} {% if contact.type == 'e' %}
                <a href="mailto:{{ contact.value }}" title="Написать"><i class="bi bi-envelope"></i></a>
                {% else %}
                <a href="tel:{{ contact.value }}" title="Позвонить"><i class="bi bi-telephone-forward"></i></a>
                {% endif %}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_person_update' contactperson.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#contact_person-{{ contactperson.pk }}-Modal">Удалить</a></li>
        </ul>
    </nav>
    </p>
        <!-- Modal -->
    <div class="modal fade" id="contact_person-{{ contactperson.pk }}-Modal" tabindex="-1" aria-labelledby="contact_person-{{ contactperson.pk }}-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fexampleModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'contact_person_delete' contactperson.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить контантное лицо<br>«{{ contactperson.full_name }}» ({{ contactperson.company.company_name }})?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock content %}
