{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post" action="" class="inline_form tags_6"">
        {% csrf_token %}
        {{ form.as_p }}
        <h2>Добавить/редактировать контактные данные</h2>
        <div>{{ contact_formset }}</div>
        <br>
        <button class="btn btn-primary">Сохранить</button>
    </form>
</main>
{% endblock content %}
