{% extends 'base.html' %}

{% block content %}
<main>
    <p><b>Адрес:</b> <i>{{ customer.address }}</i></p>
    <p><b>Создано/изменено:</b> <i>{{ customer.record_created }} / {{ customer.record_last_modified }}</i></p>
    <p><b>Менеджер:</b> {{ customer.manager }}</p>
    <p><b>Описание:</b><br>
        {{ customer.description|safe }}</p>
    {% if user.is_staff %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'customer_update' customer.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#deleteCustomerModal">Удалить</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_create' customer.pk %}">Добавить проект</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'interaction_create' customer.pk %}">Добавить взаимодействие</a></li>
        </ul>
    </nav>
    <hr>
    <h2>Контакты</h2>
    {% for contact in company_contacts %}
    <ul>
        <li>{{ contact.value }}
            <a href="{% url 'contact_update' contact.pk %}">
                <i class="bi bi-pencil-square"></i>
            </a>
            <a href="" data-bs-toggle="modal" data-bs-target="#contact{{ contact.pk }}Modal">
                <i class="bi bi-trash"></i>
            </a>
                <!-- DeleteContactModal -->
    <div class="modal fade" id="contact{{ contact.pk }}Modal" tabindex="-1" aria-labelledby="contact{{ contact.pk }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contact{{ contact.pk }}ModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'contact_delete' contact.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить контакт<br>«{{ contact }}»?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </ul>
        </li>
    </ul>
    {% endfor %}

    {% for contact_person in customer.contactperson_set.all %}
    <h3>{{ contact_person.full_name }} ({{ contact_person.post }})</h3>
    <ul>
        {% for contact in contact_person.contact_set.all %}
        <li>{{ contact.value }}</li>
        {% endfor %}
        <nav class="navbar navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ contact_person.get_absolute_url }}">Смотреть</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact_person_update' contact_person.pk %}">Редактировать</a></li>
                <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                        data-bs-target="#contactperson{{ contact_person.pk }}Modal">Удалить</a></li>
            </ul>
        </nav>
        <!-- DeleteContactPersonModal -->
    <div class="modal fade" id="contactperson{{ contact_person.pk }}Modal" tabindex="-1" aria-labelledby="contactperson{{ contact_person.pk }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactperson{{ contact_person.pk }}ModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'contact_person_delete' contact_person.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить контактное лицо<br>«{{ contact_person.full_name }}» ({{ customer.company_name }})?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </ul>
    {% empty %}
    Не указано.<br>
    {% endfor %}
    Добавить <a href="{% url 'contact_person_create' customer.pk %}">Контактное лицо</a> <a href="{% url 'contact_create' customer.pk %}">Контакт</a><br>

    <!-- Modal -->
    <div class="modal fade" id="deleteCustomerModal" tabindex="-1" aria-labelledby="deleteCustomerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCustomerModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'customer_delete' customer.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить заказчика<br>«{{ customer.company_name }}»?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    <hr>
    <h2>Проекты</h2>
    {% for project in customer.project_set.all|slice:":5" %}
    <h3>{{ project.name }}</h3>
    <p><b>Сроки выполнения:</b> {{ project.start_date }} - {{ project.end_date }}<br>
    <b>Менеджер:</b> {{ project.manager }}<br>
    <b>Описание:</b> {{ project.description }}<br>
    {% if user.is_staff %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ project.get_absolute_url }}">Смотреть</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_update' project.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#project{{ project.pk }}Modal">Удалить</a></li>
        </ul>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="project{{ project.pk }}Modal" tabindex="-1" aria-labelledby="project{{ project.pk }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="project{{ project.pk }}ModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'project_delete' project.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить проект<br>«{{ project.name }}» ({{ project.customer.company_name }})?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
    Проектов пока нет.
    {% endfor %}
    {% if customer.project_set.all.count > 5 %}<a href="{% url 'project_list' customer.pk %}">Смотреть все({{ customer.project_set.all.count }})</a> {% endif %}
    {% if user.is_staff %}<a href="{% url 'project_create' customer.pk %}">Добавить проект</a>
    <hr>
    <h2>Взаимодействия</h2>
    {% if customer.interaction_set.exists %}
    <table class="table interactions">
        <colgroup>
            <col style="width: 100px;">
            <col style="width: auto;">
            <col style="width: 120px;">
            <col style="width: auto;">
            <col style="width: 100px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Проект</th>
            <th scope="col">Менеджер</th>
            <th scope="col">Канал связи</th>
            <th scope="col">Инициатор</th>
            <th scope="col">Оценка</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for interaction in customer.interaction_set.all|slice:":5" %}
        <tr>
            <td>{{ interaction.date|date:'d-m-Y' }}</td>
            <td>
                <div>
                    {% if interaction.project %}
                    <a href="{{ interaction.project.get_absolute_url }}">{{ interaction.project.name }}</a>
                    {% else %}
                    Неизвестный проект
                    {% endif %}
                </div>
            </td>
            <td><div>{{ interaction.manager }}</div></td>
            <td><div>{{ interaction.contact }}</div></td>
            <td>{% if interaction.initiator %}Заказчик{% else %}Мы{% endif %}</td>
            <td>{{ interaction.grade }}</td>
            <td>
                <a href="{% url 'interaction_detail' interaction.pk %}"><i class="bi bi-eye-fill"></i></a>
                {% if user.account == interaction.manager %}
                <a href="{% url 'interaction_update' interaction.pk %}"><i class="bi bi-pencil-square"></i></a>
                <a href="" data-bs-toggle="modal"
                                    data-bs-target="#ineraction{{ interaction.pk }}Modal"><i class="bi bi-trash"></i></a>
                {% endif %}
            </td>
        </tr>
        <div class="modal fade" id="ineraction{{ interaction.pk }}Modal" tabindex="-1" aria-labelledby="ineraction{{ interaction.pk }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ineraction{{ interaction.pk }}ModalLabel">Подтвердите действие на странице</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'interaction_delete' interaction.pk %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            Вы действительно хотите удалить взаимодействие<br>«{{ interaction }}»?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    Взаимодействий пока нет.
    {% endif %}
    {% if customer.interaction_set.all.exists %}
    <a href="{% url 'customer_interaction_list' customer.pk %}">Смотреть все ({{ customer.interaction_set.all.count }})</a>
    {% endif %}
    <a href="{% url 'interaction_create' customer.pk%}">Добавить взаимодействие</a></div>
    {% endif %}
</main>
{% endblock content %}
