{% extends 'base.html' %}

{% block content %}
<main>
    {% if user.is_staff %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'customer_create' %}">Добавить заказчика</a></li>
        </ul>
    </nav>
    {% endif %}
    <p>
        Сортировка: {% for ordering, caption in ordering_values.items %}
        {% if ordering == current_order %}
            {{ caption }}
        {% elif ordering == None and current_order == '-pk' %}
            {{ caption }}
        {% else %}
            <a href="?sort={{ ordering }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.only_mine %}&only_mine={{ request.GET.only_mine }}{% endif %}">{{ caption }}</a>
        {% endif %}
        {% endfor %}
    </p>
    {% include 'pagination.html' %}
    {% for customer in customer_list %}
    <h2>{{ customer.company_name }}</h2>
    <div><b>Адрес:</b> <i>{{ customer.address }}</i></div>
    <div><b>Создано/изменено:</b> <i>{{ customer.record_created }} / {{ customer.record_last_modified }} ({{ customer.manager }})</i></div>
    <div><b>Описание:</b></div>
    <div>{{ customer.description|safe|truncatewords:20 }}</div>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ customer.get_absolute_url }}">Смотреть</a></li>
            {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="{% url 'customer_update' customer.pk %}">Редактировать</a></li>
            <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#customer-{{ customer.pk }}">Удалить</a></li>
            {% endif %}
        </ul>
    </nav>
    {% if user.is_staff %}
    <!-- DeleteCustomerModal -->
    <div class="modal fade" id="customer-{{ customer.pk }}" tabindex="-1" aria-labelledby="customer-{{ customer.pk }}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fexampleModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'customer_delete' customer.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить заказчика <br>«{{ customer.company_name }}»?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% include 'pagination.html' %}
</main>
{% endblock content %}
