{% extends 'base.html' %}

{% block content %}
<main>
    <p><b>Заказчик:</b> <a href="{{ customer.get_absolute_url }}">{{ customer }}</a></p>
    {% if interaction_list %}
    <p>
        <a href="{% url 'interaction_create' customer.pk %}">Добавить взаимодействие</a>
        <a href="{% url 'my_keywords' %}">Изменить ключевые слова</a>
    </p>
    <div class="keyword-filter"><b>Фильтровать:</b>
    {% if keyword_list %}
    <form action="" method="get">
        {% for keyword in keyword_list %}
        <input type="checkbox" name="keyword" value="{{ keyword }}"> {{ keyword }}
        {% endfor %}
        <button class="btn btn-primary">Применить</button>
    </form>
    {% else %}
        Ключевых слов пока нет.
    {% endif %}
    </div>
    <p>{% include 'pagination.html' %}</p>
    <table class="table interactions">
        <colgroup>
            <col style="width: 100px;">
            <col style="width: auto;">
            <col style="width: 120px;">
            <col style="width: auto;">
            <col style="width: 100px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Проект</th>
            <th scope="col">Менеджер</th>
            <th scope="col">Канал связи</th>
            <th scope="col">Инициатор</th>
            <th scope="col">Оценка</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for interaction in interaction_list %}
        <tr>
            <td>{{ interaction.date|date:'d-m-Y' }}</td>
            <td>
                <div>
                    {% if interaction.project %}
                    <a href="{{ interaction.project.get_absolute_url }}">{{ interaction.project.name }}</a>
                    {% else %}
                    Неизвестный проект
                    {% endif %}
                </div>
            </td>
            <td><div>{{ interaction.manager }}</div></td>
            <td><div>{{ interaction.contact }}</div></td>
            <td>{% if interaction.initiator %}Заказчик{% else %}Мы{% endif %}</td>
            <td>{{ interaction.grade }}</td>
            <td>
                <a href="{% url 'interaction_detail' interaction.pk %}"><i class="bi bi-eye-fill"></i></a>
                {% if user.account == interaction.manager %}
                <a href="{% url 'interaction_update' interaction.pk %}"><i class="bi bi-pencil-square"></i></a>
                <a href="" data-bs-toggle="modal"
                                    data-bs-target="#ineraction{{ interaction.pk }}Modal"><i class="bi bi-trash"></i></a>
                {% endif %}
            </td>
        </tr>
        <!-- DeleteIneractionModal -->
        <div class="modal fade" id="ineraction{{ interaction.pk }}Modal" tabindex="-1" aria-labelledby="ineraction{{ interaction.pk }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ineraction{{ interaction.pk }}ModalLabel">Подтвердите действие на странице</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'interaction_delete' interaction.pk %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            Вы действительно хотите удалить взаимодействие<br>«{{ interaction }}»?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
    <p>{% include 'pagination.html' %}</p>
    {% else %}
    Взаимодействия не найдены.
    {% endif %}
    {% if request.GET.keyword %}<a href="{{ request.path }}">Сбросить фильтры</a><br>{% endif %}
    <a href="{% url 'interaction_create' customer.pk %}">Добавить взаимодействие</a>
</main>
{% endblock content %}
