{% extends 'base.html' %}

{% block content %}
<main>
    <p><b>Дата:</b> {{ interaction.date }}<br>
    <b>Заказчик:</b> <a href="{{ interaction.customer.get_absolute_url }}">{{ interaction.customer }}</a><br>
    <b>Проект:</b> <a href="{{ interaction.project.get_absolute_url }}">{{ interaction.project }}</a><br>
    <b>Контакт:</b> {{ interaction.contact.value }} (<a href="{{ interaction.contact.contact_person.get_absolute_url }}">{{ interaction.contact.contact_person }}</a>)<br>
    <b>Менеджер:</b> {{ interaction.manager }}<br>
    <b>Инициатор:</b> {% if interaction.initiator %}Заказчик{% else %}Мы{% endif %}<br>
    <b>Оценка:</b> {{ interaction.grade }}<br>
    <b>Описание:</b><br>{{ interaction.description|linebreaksbr }}</p>

    {% if user.account == object.manager %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'interaction_update' interaction.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#ineraction{{ interaction.pk }}Modal">Удалить</a></li>
        </ul>
    </nav>
    {% endif %}
    <!-- DeleteInteractionModal -->
    <div class="modal fade" id="ineraction{{ interaction.pk }}Modal" tabindex="-1" aria-labelledby="ineraction{{ interaction.pk }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ineraction{{ interaction.pk }}ModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'interaction_delete' interaction.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить взаимодействие<br>«{{ interaction }}»?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock content %}
