{% extends 'base.html' %}

{% block content %}
</main>
    <b>Заказчик:</b> <a href="{{ project.customer.get_absolute_url }}">{{ project.customer }}</a><br>
    <b>Дата начала работы:</b> {{ project.start_date }}<br>
    <b>Дата завершения работы:</b> {{ project.end_date }}<br>
    <b>Стоимость:</b> {{ project.coast }} грн.<br>
    <b>Менеджер:</b> {{ project.manager }}<br>
    <b>Описание:</b><br>
        {{ project.description|linebreaksbr }}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'project_update' project.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#project-{{ project.pk }}-Modal">Удалить</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_create' project.customer.pk %}">Добавить
                проект</a></li>
        </ul>
    </nav>
    </p>
    <!-- DeleteProjectModal -->
    <div class="modal fade" id="project-{{ project.pk }}-Modal" tabindex="-1" aria-labelledby="project-{{ project.pk }}-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fexampleModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'project_delete' project.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить проект<br>«{{ project.name }}» ({{ project.customer.company_name }})?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <h1>Список взаимодействий по проекту</h1>

    {% if interaction_list %}
    <style>
            table {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          font-size: 14px;
          border: 1px solid #dfdfdf;
          background: #eee;
        }
        table.table thead * {
          border-bottom: 1px solid #ccc !important;
        }
        caption {
          caption-side: top;
          color: inherit;
          font-weight: bold;
        }
        tbody tr:nth-child(odd) {
          background-color: #f0ecdb;
        }
        td div {
          height: 21px;
          overflow: hidden;
        }
        tbody tr:nth-child(even) {
          background-color: #fbfbf9;
        }
    </style>
    <p><a href="{% url 'interaction_create' project.customer.pk%}">Добавить взаимодействие</a> <a href="{% url 'my_keywords' %}">Изменить ключевые слова</a></p>
    <div class="keyword-filter"><b>Фильтровать:</b>
    {% if keyword_list %}
    <form action="" method="get">
        {% for keyword in keyword_list %}
        <input type="checkbox" name="keyword" value="{{ keyword }}"> {{ keyword }}
        {% endfor %}
        <button class="btn btn-primary">Применить</button>
    </form>
    {% else %}
        Ключевых слов пока нет.
    {% endif %}
    </div>
    <table class="table">
        <colgroup>
            <col style="width: 100px;">
            <col style="width: auto;">
            <col style="width: 120px;">
            <col style="width: auto;">
            <col style="width: 100px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Проект</th>
            <th scope="col">Менеджер</th>
            <th scope="col">Канал связи</th>
            <th scope="col">Инициатор</th>
            <th scope="col">Оценка</th>
            <th scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for interaction in interaction_list %}
        <tr>
            <td>{{ interaction.date|date:'d-m-Y' }}</td>
            <td>
                <div>
                    <a href="{{ interaction.project.get_absolute_url }}">{{ interaction.project.name }}</a>
                </div>
            </td>
            <td><div>{{ interaction.manager }}</div></td>
            <td><div>{{ interaction.contact }}</div></td>
            <td>{% if interaction.initiator %}Заказчик{% else %}Мы{% endif %}</td>
            <td>{{ interaction.grade }}</td>
            <td>
                <a href="{% url 'interaction_detail' interaction.pk %}"><i class="bi bi-eye-fill"></i></a>
                {% if user.account == interaction.manager %}
                <a href="{% url 'interaction_update' interaction.pk %}"><i class="bi bi-pencil-square"></i></a>
                <a href="" data-bs-toggle="modal"
                                    data-bs-target="#ineraction{{ interaction.pk }}Modal"><i class="bi bi-trash"></i></a>
                {% endif %}
            </td>
        </tr>
        <!-- DeleteInteractionModal -->
        <div class="modal fade" id="ineraction{{ interaction.pk }}Modal" tabindex="-1" aria-labelledby="ineraction{{ interaction.pk }}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ineraction{{ interaction.pk }}ModalLabel">Подтвердите действие на странице</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'interaction_delete' interaction.pk %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            Вы действительно хотите удалить взаимодействие<br>«{{ interaction }}»?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    Взаимодействий ещё нет.
    {% endif %}
    {% if request.GET.keyword %}<a href="{{ request.path }}">Сбросить фильтры</a><br>{% endif %}
    <a href="{% url 'interaction_create' project.customer.pk%}">Добавить взаимодействие</a>
<main>
{% endblock content %}
