{% extends 'base.html' %}

{% block content %}
<main>
    <a href="{% url 'customer_detail' customer.pk %}">Страница заказчика</a>
    {% for project in project_list %}
    <h2>{{ project.name }}</h2>
    <p><b>Сроки выполнения:</b> {{ project.start_date }} - {{ project.end_date }}<br>
    <b>Менеджер:</b> {{ project.manager }}<br>
    <b>Описание:</b> {{ project.description }}<br>
    {% if user.is_staff %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ project.get_absolute_url }}">Смотреть</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_update' project.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#project-{{ project.pk }}-Modal">Удалить</a></li>
        </ul>
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="project-{{ project.pk }}-Modal" tabindex="-1" aria-labelledby="project-{{ project.pk }}-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="project-{{ project.pk }}-ModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'project_delete' project.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить проект<br>«{{ project.name }}» ({{ project.customer.company_name }})?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% empty %}
    Проектов ещё нет.
    {% endfor %}
    {% if user.is_staff %}<a href="{% url 'project_create' customer.pk %}">Добавить проект</a>{% endif %}
    {% include 'pagination.html' %}
</main>
{% endblock content %}
