{% extends 'base.html' %}
{% block content %}
<main>
    <a href="javascript: window.history.back();">Назад</a>
    <form action="" method="post" class="inline_form tags_4">
        {% csrf_token %}
        <div>
           {{ form }}
        </div>
        <button class="btn btn-primary">Сохранить</button>
    </form>
</main>
{% endblock content %}

