{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="screen-centered">
            <form action="" method="post">
            {% csrf_token %}
                <fieldset>
                    <legend>Авторизация</legend>
                        {{ form }}
                        <button class="btn btn-primary">Войти</button>
                </fieldset>
            </form>
        </div>
    </main>
{% endblock content %}

