{% extends 'accounts/user_profile_base.html' %}

{% block user_private_content %}
<form action="" method="post" class="display-block-labels">
    {% csrf_token %}
    {{ form.as_p }}
     <button class="btn btn-primary">Изменить</button>
</form>

{% endblock user_private_content %}

