{% extends 'accounts/user_profile_base.html' %}

{% block user_private_content %}
<i>Чтобы добавить контактное лицо, перейдите на страницу его <a href="{% url 'customer_list' %}">компании</a>.</i>
{% for contact_person in contactperson_list %}
<h3>{{ contact_person.full_name }} ({{ contact_person.post }})</h3>
<b>Заказчик:</b> <a href="{{ contact_person.customer.get_absolute_url }}">{{ contact_person.customer }}</a>
<ul>
    {% for contact in contact_person.contact_set.all %}
    <li>{{ contact.value }}</li>
    {% endfor %}
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ contact_person.get_absolute_url }}">Смотреть</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact_person_update' contact_person.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#contactperson{{ contact_person.pk }}Modal">Удалить</a></li>
            <li class="nav-item"><a class="nav-link" href="{# url 'interaction_create' customer.pk #}">Добавить взаимодействие+</a></li>
        </ul>
    </nav>
    <!-- DeleteContactPersonModal -->
<div class="modal fade" id="contactperson{{ contact_person.pk }}Modal" tabindex="-1" aria-labelledby="contactperson{{ contact_person.pk }}ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactperson{{ contact_person.pk }}ModalLabel">Подтвердите действие на странице</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'contact_person_delete' contact_person.pk %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    Вы действительно хотите удалить контактное лицо<br>«{{ contact_person.full_name }}» ({{ customer.company_name }})?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</ul>
{% empty %}
Контактных лиц пока нет.<br>
{% endfor %}
{% endblock user_private_content %}