{% extends 'accounts/user_profile_base.html' %}

{% block user_private_content %}

<i>Для добавления нового проекта перейдите на страницу его <a href="{% url 'customer_list' %}">заказчика</a>.</i><br>
    {% for project in project_list %}
    <h2>{{ project.name }}</h2>
    <p><b>Заказчик:</b> <a href="{{ project.customer.get_absolute_url }}">{{ project.customer }}</a></p>
    <p><b>Сроки выполнения:</b> {{ project.start_date }} - {{ project.end_date }}</p>
    <p><b>Описание:</b> {{ project.description }}</p>
    <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{{ project.get_absolute_url }}">Смотреть</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'project_update' project.pk %}">Редактировать</a></li>
            <li class="nav-item"><a class="nav-link" href="" data-bs-toggle="modal"
                                    data-bs-target="#project-{{ project.pk }}-Modal">Удалить</a></li>
            <li class="nav-item"><a class="nav-link" href="">Добавить взаимодействие*</a></li>
        </ul>
    </nav>
    <!-- Modal -->
    <div class="modal fade" id="project-{{ project.pk }}-Modal" tabindex="-1" aria-labelledby="project-{{ project.pk }}-ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="project-{{ project.pk }}-ModalLabel">Подтвердите действие на странице</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'project_delete' project.pk %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        Вы действительно хотите удалить проект<br>«{{ project.name }}» ({{ project.customer.company_name }})?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    Проектов ещё нет.
    {% endfor %}


    {% include 'pagination.html' %}


{% endblock user_private_content %}