{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
<a href="{% url 'edit_profile' %}"{% if request.path == '/user/edit-profile/' %} class="active"{% endif %}>
    Мои данные
</a><br>
<a href="{% url 'change_password' %}"{% if request.path == '/user/change-password/' %} class="active"{% endif %}>
    Изменить пароль
</a><br>
<a href="{% url 'my_customers' %}"{% if request.path == '/user/my-customers/' %} class="active"{% endif %}>
    Мои заказчики
</a><br>
<a href="{% url 'my_projects' %}"{% if request.path == '/user/my-projects/' %} class="active"{% endif %}>
    Мои проекты
</a><br>
<a href="{% url 'my_contacts' %}"{% if request.path == '/user/my-contacts/' %} class="active"{% endif %}>
    Мои контакты
</a><br>
<a href="{% url 'my_interactions' %}"{% if request.path == '/user/my-interactions/' %} class="active"{% endif %}>
    Мои взаимодействия
</a><br>
    </div>
    <div class="col-9">
{% block user_private_content %}{% endblock user_private_content %}
    </div>
  </div>
</div>
{% endblock content %}