{% extends 'accounts/user_profile_base.html' %}

{% block user_private_content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <img src="/files/{{ object.account.photo }}" class="user-avatar">
    {{ account_formset.as_p }}
    {{ form.as_p }}
    <button class="btn btn-primary">Сохранить</button>
    <button type="button" onclick="window.history.back()" class="btn btn-secondary">Отмена</button>
</form>
{% endblock user_private_content %}

